  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>About the author</h2>
              <p>Written by an experienced API economy scholar and practitioner Jarkko Moilanen known as The Doctor of Developer eXperience.</p>
              <p>Jarkko wrote his first PhD about 3D printing ecosystem 2017. Currently Jarkko is pursuing 2nd PhD around the economics of the Developer eXperience</p>

                <p>Chief Development Officer (CDO) at Platform of Trust</p>
                <p>Igniter and co-author of API Economy 101 book</p>
                <p>Author of 100 Days DX - https://100daysdx.com</p>
                <p>Creating video content about Developer eXperience to https://dxdoctor.net</p>
                <p>Long term API Developer eXperience (APIOps) developer.</p> 
            
              <a href="https://www.linkedin.com/in/jarkkomoilanen/" class="btn btn-default btn-xl wow tada">Connect!</a>
          </div>
      </div>
  </aside>
