<section class="bg-primary" id="about" style="background-color: #de6335;margin-top:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">The bible of the Developer eXperience</h1>
                <hr class="light">
                <p class="text-faded">To win the hearts of the primary consumers, developers, you need to offer top of the world developer experience or your customers will choose a competing solution. This book is the ”bible” of developer experience written from the heart based on knowledge gained over a decade long journey.</p>
                <h1 class="section-heading">Written with the help of real developers</h1>
                <hr class="light">
                <p class="text-faded">Several developers were involved in writing the book content which took place 2019. Empirical experiences, comments and best practices expressed by the developers are included in the book.</p>
                <hr class="light">
                <h1 class="section-heading" style="margin-bottom: 30px;">Sales begins during 2020!</h1>
                <a href="#content" class="btn btn-default btn-xl page-scroll">Check out the content!</a>
            </div>
        </div>
    </div>
</section>
