<section class="bg-primary" id="reviews" style="background-color: #de6335;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Reviews</h1>
                <hr class="light">
                <h2 class="section-heading">”Awesome source to improve 100 aspects of Developer Experience”</h2>
                <p class="text-faded">API Product evangelist</p>
                <hr class="light">
                <h2 class="section-heading">”This content looks great! I recommend checking it out if you want to improve your product's/service's Developer Experience”</h2>
                <p class="text-faded">Developer</p>
                <hr class="light">
                <h2 class="section-heading">”Interesting (a bit quirky) DX resource”</h2>
                <p class="text-faded">Vice President in API Economy</p>

                <a href="#author" class="btn btn-default btn-xl page-scroll" style="margin-top:30px;">Check the author details!</a>

            </div>
        </div>
    </div>
</section>
